</div>
</div>
</div>
<div class="row-fluid"> 
    <div id="mg-modal">

    </div>
</div>
{literal}
    <script type="text/javascript">
        jQuery(window).on('resize', function () {
            var height = jQuery('.module-sidebar').height();
            jQuery('#mg-wrapper').css('min-height', height);
        });
    </script>
{/literal}
</div>
